doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    title Flash Cards
  body
    include includes/header.pug
    
    div.error
      h1= `${error.message} - Status: ${error.status}`
      <br>
      a.button-primary-small(href='/') Go Home
      img.desk-items(src='static/img/desk.svg')