doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='/static/stylesheets/style.css')
    title Flash Cards
  body
    include includes/header.pug
    block main
    include includes/footer.pug